/*
Theme: Sandra's responsive Wordpress Template
Theme URI: http://www.sandras-responsive-wordpress-template.com/
Description: A WordPress theme with mobile dropdown navigation using vanilla JavaScript. Also includes a 12 column grid built with sass & CSS Preprocessor.
Author: Sandra
Authors URI: http://www.sandras-responsive-wordpress-template.com/
Version: 1.0
*/